<ol class="microposts">
	<h4>Credits you have in pools: <%= @pool_credits %>
	</h4>
	<h4>Credits in your bank: <%= current_user.credit %>
	</h4>
	<h4>
		Total Net Worth: <%= @total_credits %>
	</h4>

	<h5>Pools you are in: <%= current_user.players.count %>
	</h5>
</ol>