<% if current_user == @user %>

<% else %>

	<% if friend_requested?(@user) %>
		<h4>Awaiting Friend Request</h4>
	<% else %>
		<%= form_for(@friend, :url => friendships_path, :html => {:method => :post}) do |f| %>

		<%= f.hidden_field :friend_id, :value => current_user.id %>

		<%= f.hidden_field :friended_id, :value => @user.id %>

		<%= f.submit "Add Friend", class: "btn btn-large btn-primary" %>

		<% end %>
	<% end %>
<% end %>