<% provide(:title, full_name(@user)) %>
<div class="row">
	<aside class="span4">
		<h1>Profile</h1>
			<h1>
				<%= profile_pic_for @user, :thumb   %>
				<%= full_name(@user) %>
			</h1>
			<h4>
				<%= render 'shared/friendship_form' %>
			</h4>
	</aside>
	 <aside class="span4">
		<%= render 'shared/friends' %>
	</aside>
</div>
